<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Traveler</title>
</head>
<body>
<body class="page-section page-section2">

<!-- Page -->
<div class="page page-h">
    <div class="page-content zindex-10">
        <div class="container text-center text-dark">
            <div class="display-1 mb-5 font-weight-semibold2">404</div>
            <h1 class="h1 mb-3 font-weight-semibold2">Page Not Found</h1>
            <p class="h4 font-weight-normal mb-7 leading-normal">Oops!!!! you tried to access a page which is not available. go back to Home</p>
            <a class="btn btn-secondary px-6" th:href="@{/travelers}">
                <i class="fe fe-arrow-left me-2"></i> Back To Home
            </a>
            <img src="../assets/images/photos/4.png" alt="" class="img-absolute-bottom">
        </div>
    </div>
</div>
<!-- End Page -->

</body>
</html>