
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
<h1>User profile</h1>
<a th:href="@{/}">Regresar</a>
<br/>

<form th:action="@{/save}" method="post" th:object="${user}">
  <input type="hidden" name="idPersona" th:field="*{userID}">
  <label for="userName">Name:</label>
  <input type="text" name="userName" th:field="*{userName}">
  <br/>
  <label for="userPassword">Password:</label>
  <input type="text" name="userPassword" th:field="*{userPassword}">
  <br/>
  <label for="email">Email:</label>
  <input type="text" name="email" th:field="*{email}">
  <br/>
  <label for="phone">Phone:</label>
  <input type="tel" name="phone" th:field="*{phone}">
  <br/>
  <label for="dateOfBirth">Date of Birth:</label>
  <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}">
  <br/>
  <label for="genderID">Gender:</label>
  <select id="genderID" name="genderID" th:field="*{genderID}">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>

  <br/>
  <label for="verified">verified:</label>
  <select id="verified" name="verified" th:field="*{verified}">
    <option value="false">false</option>
    <option value="true">true</option>
  </select>
  <!--<input type="bo" name="verified" th:field="*{verified}">-->
  <br/>
  <label for="roleID">Role id:</label>
  <select id="roleID" name="roleID" th:field="*{roleID}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <!--<input type="int" name="roleID" th:field="*{roleID}">-->
  <br/>
  <label for="userSummary">Summary:</label>
  <input type="text" name="userSummary" th:field="*{userSummary}">
  <br/>
  <input type="submit" name="Save" value="Save">
</form>


</body>
</html>